*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    width: 16%;
    height: 100vh;
    background-color: blue;
    color: white;
    text-align: center;
    float: left;
}

a{
    text-decoration: none;
    color: wheat;
    display: block;
    margin-bottom: 10px;
}
header{
  width: 100%;
  height: 10vh;
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form{
    float: left;
      margin-left: 300px;
      padding: 20px 50px;
      border-radius: 10px;
  }
  form input{
      display: block;
      width: 600px;
      padding: 10px;
      font-size: 18px;
      margin-bottom: 6px;
      margin-top: 5px;
      border: 1px solid gray;
      border-radius: 3px;
  }
 
  form button{
      width: 100px;
      /* margin-left: 50px; */
      padding:10px ;
      background-color: green;
      color: white;
      margin-top: 5px;
      cursor: pointer;
      border: none;
      outline: none;
      border-radius: 3px;
  }

  table{
    width: 80%;
    margin-left: 50px;
    padding: 20px;
  float: left;
 
}
th,td{
  border: 1px solid gray;
    padding: 5px 40px;
}

table a{
  color: green;
}